* {
    margin: 0px;
    padding: 0px;
    background-color: linear-gradient( #03fff2cb 0%,#d645e9b6 90%);
    
}
table{
           margin-top: 50px;
           text-align: center;
           
}

#show th, #show td{
           padding: 13px;
}

#btna td input{
           width: 100%;
}
